body {
    margin:0;
    text-align: center;
    font-family: 'Koulen', cursive;
    background-color:#F2F2F2;
}

.top{
    padding-top: 100px;
    margin: 0;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Fjalla One', sans-serif;
    color: #251D3A;
    font-size: 5.625rem;
    line-height: 2;
}

h2{
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    color: #2A2550;
    padding-bottom: 10px;
}

h3{
    font-family: 'Anton', sans-serif;
}

.bottom_cloud{
    width: 9.375rem;
    position: absolute;
    left: 300px;
    bottom: 350px;
    
}

.top_cloud{
    width: 9.375rem;
    position: absolute;
    right: 300px;
    top: 50px;
}

.myself{
    width: 12.25rem;
    border-radius: 50%;
}

.footer-link{
     color: #11999e;
}

.btn{
    color: #11999e;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.coding_skill{
    width: 8.125rem;
    float: left;
    margin-right: 30px;
}

.intro{
    width: 40%;
    margin: auto;
}

hr{
    border: dotted black 6px;
    border-bottom: none;
    width: 50%;
}

.bottom-container{
    margin-bottom: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    color:black;
}